# Additional required module installation when run ComfyUI Custom Nodes

opencv-contrib-python
pillow
pillow-avif-plugin
jxlpy
imageio-ffmpeg
accelerate
gguf
piexif
diffusers
ftfy
sageattention==1.0.6